PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/iiitsuratmods
JWT_SECRET=2dbf6c2d-d757-4f73-9f7c-dff8802150dba2cb402e-bfb6-48e0-8126-279f387ae805
JWT_EXPIRES_IN=30d
OTP_SECRET=23b7534e-2634-4961-b04e-8a2b58d310d724f05da0-67e0-4e02-a650-2bd7907e426a
COLLEGE_EMAIL_DOMAIN=iiitsurat.ac.in
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=ug25ece021@iiitsurat.ac.in
SMTP_PASS=fvyq dgcc osvl jedf
MAIL_FROM=IIITSURATMODS <ug25ece021@iiitsurat.ac.in>
